<div class="row btn-page">
  <div class="col-sm-12">
      <div class="row">
        <ng-container *ngIf="loading==false">

              <!-- Bannerscount start -->
<!-- statistic start -->
<div class="col-md-6 col-lg-4">
  <app-card [hidHeader]="true" cardClass="statustic-card" blockClass="text-center" [isCardFooter]="true" footerClass="bg-c-blue border-0">
    <h5 class="text-left">Total Banners</h5>
    <span class="d-block text-c-blue f-36">{{countdata.total}}</span>
    <p class="m-b-0">Total</p>
    <div class="app-card-footer">
    </div>
  </app-card>
</div>
<div class="col-md-6 col-lg-4">
  <app-card [hidHeader]="true" cardClass="statustic-card" blockClass="text-center" [isCardFooter]="true" footerClass="bg-c-green border-0">
    <h5 class="text-left">Active Banners</h5>
    <span class="d-block text-c-green f-36">{{countdata.active}}</span>
    <p class="m-b-0">Total</p>
    <div class="app-card-footer">
    </div>
  </app-card>
</div>
<div class="col-md-6 col-lg-4">
  <app-card [hidHeader]="true" cardClass="statustic-card" blockClass="text-center" [isCardFooter]="true" footerClass="bg-c-red border-0">
    <h5 class="text-left">Inactive Banners</h5>
    <span class="d-block text-c-red f-36">{{countdata.inactive}}</span>
    <p class="m-b-0">Total</p>
    <div class="app-card-footer">
    </div>
  </app-card>
</div>
</ng-container>
<!-- statistic end -->

<!-- Bannerscount end -->

<!-- statistic end -->
<ng-container *ngIf="loading==true">
  <!-- Bannerscount start -->
<!-- statistic start -->
<div class="col-md-6 col-lg-4" *ngFor="let x of [0,1,2]">
<app-card [hidHeader]="true" cardClass="statustic-card" blockClass="text-center" [isCardFooter]="true" footerClass="bg-c-blue border-0">
<h5 class="text-left"> <div class="item" style="width:40%"><ngx-skeleton-loader count="1" > </ngx-skeleton-loader></div></h5>
<span class="d-block text-c-blue f-36"> <div class="item"><ngx-skeleton-loader count="1" > </ngx-skeleton-loader></div></span>
<div class="item"><ngx-skeleton-loader count="1" > </ngx-skeleton-loader></div>
<div class="app-card-footer">
</div>
</app-card>
</div>

</ng-container>

<!-- statistic end -->

            </div>
  </div>
  <div class="col-sm-12">
    <app-card [hidHeader]="true" cardClass="card-datatable">
      <div class="row align-items-center m-l-0">
        <div class="col-sm-6 text-left">
          <div  class="col-sm-6 text-left" *ngIf="!loading" >
            <!-- class="col-sm-8 " *ngIf="data.status!='Won'" -->
            <!-- <div class="custom-control custom-switch">

              <div class="dropdown-secondary" ngbDropdown [placement]="'bottom-left'"
                style="background-color:#4680ff; font-weight: 700; border-radius:10%; margin-left:-40px;"> -->
                <!-- <ng-select [ngClass]="'ng-select'" [options]="options"   [placeholder]="'sdjsdhhdsjhd'"    [(ngModel)]="selectedOption"  (change)="assign(x.id,x.assignedto)" > </ng-select> -->
                <!-- <ng-select [ngClass]="'ng-select'" [options]="siteoptions" [(ngModel)]="selectedsite"
                  (ngModelChange)="lenders('yes')"> </ng-select>

              </div>

            </div> -->
            
          </div>
        </div>
        <div class="col-sm-6 text-right">
          
          <button class="btn btn-success btn-sm btn-round has-ripple" (click)="modalProject1.show(); "><i class="feather icon-plus"></i> Add Banner</button>
          <button class="btn btn-success btn-sm btn-round has-ripple" (click)="modalProject.show(); type='contact';"><i class="feather icon-plus"></i> Edit Contact</button>
      
        </div>
        <br>
        <app-ui-modal #modalProject1>
          <div class="app-modal-header"  >
            <h5 class="modal-title">Enter Banner Details</h5>
            <button type="button" class="close basic-close" data-dismiss="modal1" aria-label="Close" (click)="modalProject1.hide()"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="app-modal-body"  >
          
            <form #validationForm="ngForm" class="editForm" novalidate style="overflow:visible;">
              <div class="row">
                
                <div class="col-md-6">
                  <!-- <div class="col-sm-12 col-xl-3 m-b-30"> -->
                    <label class="form-control-label" for="banner">Default/Login Banner </label> 
                    <select name="select" [(ngModel)]="formInput.bannertype" placeholder="'Select Banner'" class="form-control form-control-default">
                      <!-- <option value="opt1">Select Banner</option> -->
                      <option value="default">Default</option>
                      <option value="login">Login</option>
                    </select>
                  <!-- </div> -->
                </div>  


                 <div class="col-md-6" *ngIf="formInput.bannertype=='default'">
                  <div class="form-group">
                    <label class="form-control-label" for="pid">Offerid </label> 
                    <input class="form-control input-md" id="text" name="pid" type="text" placeholder="Enter Offer id" [ngClass]="{'is-invalid': !pid.valid && (pid.dirty || pid.touched || isSubmit)}" #pid="ngModel" required pid [(ngModel)]="formInput.offerid">
                    <label *ngIf="!pid.valid && (pid.dirty || pid.touched || isSubmit)" id="validation-cmbGear-error" class="error jquery-validation-error small form-text invalid-feedback">Please enter the Offer id.</label>
                  </div>
                </div>  
                    
             
                                  <div class="col-md-12">
                  <div class="form-group">
                    <label class="form-control-label" for="link">Banner Image</label> 
                    <!-- <file-upload simple [control]="fileUploadControl"  [(ngModel)]="uploadedFiles" formControlName="files"></file-upload> -->
                    <file-upload accept="image/*"  [(ngModel)]="uploadedFiles" name="files" simple></file-upload>
                    <span class="badge m-r-5 badge-light-danger" *ngIf="formInput.bannertype=='login'">Image size 1024*683</span>
                  </div>
                </div>  


               
               

     
               
         
             
                 
             
               
              </div>
              <!-- <div class="form-group text-center">
                <button type="button" uiSref="work" class="btn btn-primary btn-raised"  (click)="save(validationForm)"> Update <span style="margin-left:10px;"><i class="feather icon-chevron-right"></i></span></button>
              </div> -->
              <hr>
              <div class="row align-items-center m-l-0" >
                <div class="col-sm-6 text-left">
                 
                            </div>
                <div class="col-sm-6 text-right">
                  <div class="custom-control custom-switch">
                    <button type="button" uiSref="work" class="btn btn-primary btn-raised"  [disabled]="buttonloading"  (click)="addbanner(validationForm)"> Add  <div style="zoom:0.7;" class="spinner-border" *ngIf="buttonloading"  role="status"></div></button>
          
                  </div>
                </div>
              </div>
          </form>
           
         
          </div> 

                  <!--  Update modal start -->
                  <div class="app-modal-header"  *ngIf="type=='update'">
                    <h5 class="modal-title">Update Banner Details</h5>
                    <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="modalProject.hide()"><span aria-hidden="true">&times;</span></button>
                  </div>
           <div class="app-modal-body" *ngIf="type=='update'">
          
            <form #validationForm="ngForm" class="editForm" novalidate style="overflow:visible;">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label" for="lendername">Banner Name </label> 
                    <input class="form-control input-md" id="text" name="lendername" type="text" placeholder="Enter Banner name" [ngClass]="{'is-invalid': !lendername.valid && (lendername.dirty || lendername.touched || isSubmit)}" #lendername="ngModel" required lendername [(ngModel)]="formInput2.lendername">
                    <label *ngIf="!lendername.valid && (lendername.dirty || lendername.touched || isSubmit)" id="validation-cmbGear-error" class="error jquery-validation-error small form-text invalid-feedback">Please enter the name.</label>
                  </div>
                </div>
                 <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label" for="pid">Position id </label> 
                    <input class="form-control input-md" id="text" name="pid" type="text" placeholder="Enter position id" [ngClass]="{'is-invalid': !pid.valid && (pid.dirty || pid.touched || isSubmit)}" #pid="ngModel" required pid [(ngModel)]="formInput2.pid">
                    <label *ngIf="!pid.valid && (pid.dirty || pid.touched || isSubmit)" id="validation-cmbGear-error" class="error jquery-validation-error small form-text invalid-feedback">Please enter the position id.</label>
                  </div>
                </div>  
                 <div class="col-md-12">
                  <div class="form-group">
                    <label class="form-control-label" for="link">Url</label> 
                    <input class="form-control input-md" id="text" name="link" type="text" placeholder="Enter thr URL" [ngClass]="{'is-invalid': !link.valid && (link.dirty || link.touched || isSubmit)}" #link="ngModel" required link [(ngModel)]="formInput2.link">
                    <label *ngIf="!link.valid && (link.dirty || link.touched || isSubmit)" id="validation-cmbGear-error" class="error jquery-validation-error small form-text invalid-feedback">Please enter the url.</label>
                  </div>
                </div>   
             
                                  <div class="col-md-12">
                  <div class="form-group">
                    <!-- <file-upload simple [control]="fileUploadControl"  [(ngModel)]="uploadedFiles" formControlName="files"></file-upload> -->
                    <file-upload accept="image/*" [(ngModel)]="uploadedFiles2" name="files" simple></file-upload>

                  </div>
                </div>  </div>
              <!-- <div class="form-group text-center">
                <button type="button" uiSref="work" class="btn btn-primary btn-raised"  (click)="save(validationForm)"> Update <span style="margin-left:10px;"><i class="feather icon-chevron-right"></i></span></button>
              </div> -->
              <hr>
              <div class="row align-items-center m-l-0" >
                <div class="col-sm-6 text-left">
                 
                            </div>
                <div class="col-sm-6 text-right">
                  <div class="custom-control custom-switch">
                    <button type="button" uiSref="work" class="btn btn-primary btn-raised"  [disabled]="buttonloading"  (click)="updatelender(validationForm)"> Update  <span style="margin-left:10px;"><i class="feather icon-plus"></i></span></button>
          
                  </div>
                </div>
              </div>
          </form>
                   <!--  Update modal end  -->

         
          </div>
        </app-ui-modal>
<!-- /////////////////////////////// -->
<app-ui-modal #modalProject>
  <div class="app-modal-header"  *ngIf="type=='contact'">
    <h5 class="modal-title">Edit Contact Details</h5>
    <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="modalProject.hide()"><span aria-hidden="true">&times;</span></button>
  </div>
  <div class="app-modal-body"  *ngIf="type=='contact'">
  
    <form #validationForm="ngForm" class="editForm" novalidate style="overflow:visible;">
      <div class="row">
        


         <div class="col-md-6" *ngIf="type=='contact'">
          <div class="form-group">
            <label class="form-control-label" for="email">Email </label> 
            <input class="form-control input-md" id="text" name="email" type="text" placeholder="Enter Email" [ngClass]="{'is-invalid': !email.valid && (email.dirty || email.touched || isSubmit)}" #email="ngModel" required email [(ngModel)]="formdata.email">
            <label *ngIf="!email.valid && (email.dirty || email.touched || isSubmit)" id="validation-cmbGear-error" class="error jquery-validation-error small form-text invalid-feedback">Enter Email</label>
          </div>
        </div>  
        <div class="col-md-6" *ngIf="type=='contact'">
          <div class="form-group">
            <label class="form-control-label" for="mobile">Mobile </label> 
            <input class="form-control input-md" id="text" name="mobile" type="text" placeholder="Enter Mobile" [ngClass]="{'is-invalid': !mobile.valid && (mobile.dirty || mobile.touched || isSubmit)}" #mobile="ngModel" required mobile [(ngModel)]="formdata.mobile">
            <label *ngIf="!mobile.valid && (mobile.dirty || mobile.touched || isSubmit)" id="validation-cmbGear-error" class="error jquery-validation-error small form-text invalid-feedback">Enter mobile</label>
          </div>
        </div>  
            
     
       
       
      </div>
      <!-- <div class="form-group text-center">
        <button type="button" uiSref="work" class="btn btn-primary btn-raised"  (click)="save(validationForm)"> Update <span style="margin-left:10px;"><i class="feather icon-chevron-right"></i></span></button>
      </div> -->
      <hr>
      <div class="row align-items-center m-l-0" >
        <div class="col-sm-6 text-left">
         
                    </div>
        <div class="col-sm-6 text-right">
          <div class="custom-control custom-switch">
            <button type="button" uiSref="work" class="btn btn-primary btn-raised"  [disabled]="buttonloading"  (click)="updatecontact()"> Update  <div style="zoom:0.7;" class="spinner-border" *ngIf="buttonloading"  role="status"></div></button>
  
          </div>
        </div>
      </div>
  </form>
   
 
  </div> 

          <!--  Update modal start -->
          <div class="app-modal-header"  *ngIf="type=='update'">
            <h5 class="modal-title">Update Banner Details</h5>
            <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="modalProject.hide()"><span aria-hidden="true">&times;</span></button>
          </div>
   <div class="app-modal-body" *ngIf="type=='update'">
  
    <form #validationForm="ngForm" class="editForm" novalidate style="overflow:visible;">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="form-control-label" for="lendername">Banner Name </label> 
            <input class="form-control input-md" id="text" name="lendername" type="text" placeholder="Enter Banner name" [ngClass]="{'is-invalid': !lendername.valid && (lendername.dirty || lendername.touched || isSubmit)}" #lendername="ngModel" required lendername [(ngModel)]="formInput2.lendername">
            <label *ngIf="!lendername.valid && (lendername.dirty || lendername.touched || isSubmit)" id="validation-cmbGear-error" class="error jquery-validation-error small form-text invalid-feedback">Please enter the name.</label>
          </div>
        </div>
         <div class="col-md-6">
          <div class="form-group">
            <label class="form-control-label" for="pid">Position id </label> 
            <input class="form-control input-md" id="text" name="pid" type="text" placeholder="Enter position id" [ngClass]="{'is-invalid': !pid.valid && (pid.dirty || pid.touched || isSubmit)}" #pid="ngModel" required pid [(ngModel)]="formInput2.pid">
            <label *ngIf="!pid.valid && (pid.dirty || pid.touched || isSubmit)" id="validation-cmbGear-error" class="error jquery-validation-error small form-text invalid-feedback">Please enter the position id.</label>
          </div>
        </div>  
         <div class="col-md-12">
          <div class="form-group">
            <label class="form-control-label" for="link">Url</label> 
            <input class="form-control input-md" id="text" name="link" type="text" placeholder="Enter thr URL" [ngClass]="{'is-invalid': !link.valid && (link.dirty || link.touched || isSubmit)}" #link="ngModel" required link [(ngModel)]="formInput2.link">
            <label *ngIf="!link.valid && (link.dirty || link.touched || isSubmit)" id="validation-cmbGear-error" class="error jquery-validation-error small form-text invalid-feedback">Please enter the url.</label>
          </div>
        </div>   
     
                          <div class="col-md-12">
          <div class="form-group">
            <!-- <file-upload simple [control]="fileUploadControl"  [(ngModel)]="uploadedFiles" formControlName="files"></file-upload> -->
            <file-upload accept="image/*" [(ngModel)]="uploadedFiles2" name="files" simple></file-upload>

          </div>
        </div>  </div>
      <!-- <div class="form-group text-center">
        <button type="button" uiSref="work" class="btn btn-primary btn-raised"  (click)="save(validationForm)"> Update <span style="margin-left:10px;"><i class="feather icon-chevron-right"></i></span></button>
      </div> -->
      <hr>
      <div class="row align-items-center m-l-0" >
        <div class="col-sm-6 text-left">
         
                    </div>
        <div class="col-sm-6 text-right">
          <div class="custom-control custom-switch">
            <button type="button" uiSref="work" class="btn btn-primary btn-raised"  [disabled]="buttonloading"  (click)="updatelender(validationForm)"> Update  <span style="margin-left:10px;"><i class="feather icon-plus"></i></span></button>
  
          </div>
        </div>
      </div>
  </form>
           <!--  Update modal end  -->

 
  </div>
</app-ui-modal>
        
        <!-- ////////////////////////////////////////////////////// -->
      </div>
      <br>
      <div class="table-responsive" *ngIf="!loading">
        <table  [dtOptions]="dtExportButtonOptions"  datatable  id="report-table" class="table table-bordered table-striped">
          <thead>
          <tr>
            <th>#</th>
            <th>URL</th>
            <th>Offerid</th>
            <th>Status</th>
            <th>Action</th>
            
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let x of tabledata; let i = index;">
            <td>{{x.id}}</td>
            <td style="background-color:rgba(183, 158, 190, 0.295)"><img  style="max-height: 60px;"  src="{{x.url}}" alt="" class="img-fluid"> </td>
            <td>{{x.offerid}} </td>
            <td>
              <div class="custom-control custom-switch">
                <input type="checkbox" checked *ngIf="x.status =='active' && statusloading[x.id]!=1"  (click)="chnagestatus(x.id,'inactive')" class="custom-control-input" id="{{x.id+'switch'}}">
                <input type="checkbox"   *ngIf="x.status =='inactive'  && statusloading[x.id]!=1"   (click)="chnagestatus(x.id,'active')" class="custom-control-input" id="{{x.id+'switch'}}">
                <div style="zoom:0.7; margin-left:-55px !important;" class="spinner-border" *ngIf="statusloading[x.id]==1" role="status">
                </div>
                <label  *ngIf="statusloading[x.id]!=1" class="custom-control-label" for="{{x.id+'switch'}}"></label>
              </div>
            </td>
            <td><a href="javascript:"><i (click)="deleteconfirm(x.id)" ngbTooltip="Delete"  class="feather icon-trash-2 f-w-600 f-16 text-c-red"></i></a></td>

          </tr>


    


 
        
          </tbody>
        </table>
      </div>  
          <div class="table-responsive" *ngIf="loading==true">
        <table  [dtOptions]="dtExportButtonOptions"  datatable  id="report-table" class="table table-bordered table-striped">
          <thead>
          <tr>
            <th>#</th>
            <th>P Id</th>
            <th>Name</th>
            <th>Image</th>
            <th>URL</th>
            <th>Status</th>
            <th>Action</th>
            
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let x of [0,1,2,3,4,5,7]; let i = index;">
            <td> <div class="item"><ngx-skeleton-loader count="1" > </ngx-skeleton-loader></div>   </td>
            <td> <div class="item"><ngx-skeleton-loader count="1" > </ngx-skeleton-loader></div>   </td>
            <td> <div class="item"><ngx-skeleton-loader count="1" > </ngx-skeleton-loader></div>   </td>
            <td> <div class="item"><ngx-skeleton-loader count="1" > </ngx-skeleton-loader></div>   </td>
            <td> <div class="item"><ngx-skeleton-loader count="1" > </ngx-skeleton-loader></div>   </td>
            <td> <div class="item"><ngx-skeleton-loader count="1" > </ngx-skeleton-loader></div>   </td>
            <td> <div class="item"><ngx-skeleton-loader count="1" > </ngx-skeleton-loader></div>   </td>

         
          </tr>


    


 
        
          </tbody>
        </table>
      </div>
    </app-card>
  </div>
</div>
<ng2-toasty [position]="global.position"></ng2-toasty>
