<div class="row btn-page">
    <div class="col-sm-8">
      <app-card [hidHeader]="true" cardClass="card-datatable" *ngIf="formloading==false">
        <div class="row align-items-center m-l-0">
          <div class="col-sm-12 text-left">
            <div class="app-modal-header">
              <h5 class="modal-title"> User Details</h5>
            </div>
            <div class="app-modal-body">
              <form #validationForm="ngForm" class="editForm" novalidate style="overflow:visible;">
                <div class="row">
  
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="form-control-label" for="categoryname">Name </label>
                      <input class="form-control input-md" id="text" name="categoryname" type="text"
                        placeholder="Enter category name" 
                        [ngClass]="{'is-invalid': !categoryname.valid && (categoryname.dirty || categoryname.touched || isSubmit)}"
                        #categoryname="ngModel" required categoryname [(ngModel)]="formInput.name">
                      <label *ngIf="!categoryname.valid && (categoryname.dirty || categoryname.touched || isSubmit)"
                        id="validation-cmbGear-error"
                        class="error jquery-validation-error small form-text invalid-feedback">Please enter the
                        name.</label>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="form-control-label" for="password">Password </label>
                      <input class="form-control input-md" id="text" name="password" type="text"
                        placeholder="Enter password" 
                        [ngClass]="{'is-invalid': !password.valid && (password.dirty || password.touched || isSubmit)}"
                        #password="ngModel" required password [(ngModel)]="formInput.password">
                      <label *ngIf="!password.valid && (password.dirty || password.touched || isSubmit)"
                        id="validation-cmbGear-error"
                        class="error jquery-validation-error small form-text invalid-feedback">Please enter the
                        password.</label>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="form-control-label" for="email">Email </label>
                      <input class="form-control input-md" id="text" name="email" type="text"
                        placeholder="Enter email" 
                        [ngClass]="{'is-invalid': !email.valid && (email.dirty || email.touched || isSubmit)}"
                        #email="ngModel" required email [(ngModel)]="formInput.email">
                      <label *ngIf="!email.valid && (email.dirty || email.touched || isSubmit)"
                        id="validation-cmbGear-error"
                        class="error jquery-validation-error small form-text invalid-feedback">Please enter the
                        email.</label>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="form-control-label" for="mobile">Mobile </label>
                      <input class="form-control input-md" id="text" name="mobile" type="text"
                        placeholder="Enter mobile" 
                        [ngClass]="{'is-invalid': !mobile.valid && (mobile.dirty || mobile.touched || isSubmit)}"
                        #mobile="ngModel" required mobile [(ngModel)]="formInput.mobile">
                      <label *ngIf="!mobile.valid && (mobile.dirty || mobile.touched || isSubmit)"
                        id="validation-cmbGear-error"
                        class="error jquery-validation-error small form-text invalid-feedback">Please enter the
                        mobile.</label>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="form-control-label" for="address">Address </label>
                      <input class="form-control input-md" id="text" name="address" type="text"
                        placeholder="Enter address" 
                        [ngClass]="{'is-invalid': !address.valid && (address.dirty || address.touched || isSubmit)}"
                        #address="ngModel" required mobile [(ngModel)]="formInput.address">
                      <label *ngIf="!address.valid && (address.dirty || address.touched || isSubmit)"
                        id="validation-cmbGear-error"
                        class="error jquery-validation-error small form-text invalid-feedback">Please enter the
                        address.</label>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="form-control-label" for="shopname">Shopname </label>
                      <input class="form-control input-md" id="text" name="shopname" type="text"
                        placeholder="Enter shopname" 
                        [ngClass]="{'is-invalid': !shopname.valid && (shopname.dirty || shopname.touched || isSubmit)}"
                        #shopname="ngModel" required shopname [(ngModel)]="formInput.shopname">
                      <label *ngIf="!address.valid && (shopname.dirty || shopname.touched || isSubmit)"
                        id="validation-cmbGear-error"
                        class="error jquery-validation-error small form-text invalid-feedback">Please enter the
                        address.</label>
                    </div>
                  </div>
                </div>

                  
                  <hr>
                  <div class="row align-items-center m-l-0">
                    <div class="col-sm-6 text-left">
  
                    </div>
                    <div class="col-sm-6 text-right">
                      <div class="custom-control custom-switch">
                        <button type="button" uiSref="work" class="btn btn-primary btn-raised" [disabled]="buttonloading"
                          (click)="edituser(validationForm)"> Update <div style="zoom:0.7;" class="spinner-border"
                            *ngIf="buttonloading" role="status"></div></button>
  
                      </div>
                    </div>
                  </div>
  
  
                 
                  
  
                  
  
                  
                 
              </form>
            </div>
          </div>
        </div>
      </app-card>
    </div>
  </div>
  

<!-- subcategory table  starts-->

<!-- subcategory table  ends-->
